<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.3/jquery.fullpage.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.3/jquery.fullpage.js"></script>
</head>
<body>
  <%# 导航 %>
  <div class="nav" >
    <div class="gn_nav_logo">
      <span>Open Share Freedom</span>
    </div>
    <div class="gn_nav_input">
      <input />
    </div>
    <div class="gn_nav_ul">
      <ul class="gn_nav_list">
        <li><a><em class="">首页</em></a></li>
        <li><a><em class="">视频</em></a></li>
        <li><a><em class="">发现</em></a></li>
        <li><a><em class="">游戏</em></a></li>
        <li><a><em class="">清寒_夏虫不可语冰</em></a></li>
      </ul>
    </div>
  </div>
