<%- include('./header') %>

<div class="bg1 wrap-login-register">
  <div class="container">
    <!-- title -->
    <div style="padding-left: 15px;margin-bottom: 20px; color: #ffffff; font-size: xx-large;">
      <h1><span class="badge badge-secondary">登录OSF社区</span></h1>
    </div>
    <!-- form 表单 -->
    <form>

      <div class="form-group col-md-8">
        <label for="inputEmail" class="title-lable"><i class="fa fa-envelope"></i> 邮箱</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="请输入邮箱">
      </div>

      <div class="form-group col-md-8">
        <label for="inputPassword" class="title-lable"><i class="fa fa-key"></i> 密码</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="请输入密码">
      </div>

      <div class="form-group col-md-8">
        <button style="margin-bottom: 15px; " id="login-btn" type="button" class="btn btn-success btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> 登录</button>
        <a style="color: #ffffff;" href="/users/register"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> 暂无账号，去注册 </button>
      </div>
    </form>  
  </div>
</div>

<script type="text/javascript">
  $(function () {
    // 登录
    $('#login-btn').click(function () {
      event.preventDefault()
      var email = $('#inputEmail').val();
      var password = $('#inputPassword').val();
      axios.post('/api/users/login', {
        userName: email,
        password,
      })
      .then(function (response) {
        const { data } = response
        if(data.status === 0) {
          location.href = '/home'
          return
        } else {
          alert(data.message)
        }
      })
    })
  })
</script>


